header.d-header
  div.logo
    img(src="./images/32x64.png")
  div.topnav
    ul.topnav-right
      li: a(href="#") News
      li: a(href="#") Out Team
      li: a(href="#") Contact us
      li: a(href="#") About us